<h2 class="uppercase text-center text-4xl">profile</h2>

<form
  class="px-3 mx-auto max-w-sm"
  #profileForm="ngForm"
  [ngFormOptions]="{ updateOn: 'blur' }"
>
  <div class="flex my-7">
    <label class="block w-1/3" for="name">Name :</label>
    <input
      type="text"
      name="name"
      class="block w-2/3 border"
      [(ngModel)]="user.name"
    />
  </div>

  <div class="flex my-7">
    <label class="block w-1/3" for="username">Username :</label>
    <input
      type="text"
      name="username"
      class="block w-2/3 border"
      [(ngModel)]="user.username"
      [disabled]="user.role !== 'Admin'"
    />
  </div>

  <div class="flex my-7">
    <label class="block w-1/3" for="password">Password :</label>
    <input
      type="password"
      name="password"
      class="block w-2/3 border"
      [(ngModel)]="user.password"
    />
  </div>

  <div class="flex my-7" *ngIf="user.role">
    <label class="block w-1/3" for="state">Role :</label>
    <select
      name="state"
      class="block w-2/3 border"
      [(ngModel)]="user.role"
      [disabled]="user.role !== 'Admin'"
    >
      <option [value]="user.role">{{ user.role }}</option>
    </select>
  </div>

  <div class="flex my-7">
    <label class="block w-1/3" for="role">State :</label>
    <input
      type="text"
      name="state"
      class="block w-2/3 border"
      [(ngModel)]="user.state"
      [disabled]="user.state !== 'Admin'"
    />
  </div>

  <button
    class="text-white bg-blue-700 hover:bg-blue-600 py-3 px-4"
    *ngIf="user.role === 'Admin'"
  >
    Create
  </button>
</form>
